<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtdream.comment.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.dtdream.pojo.Comment">
    <id column="commentid" jdbcType="VARCHAR" property="commentid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="factor" jdbcType="VARCHAR" property="factor" />
    <result column="reportId" jdbcType="VARCHAR" property="reportid" />
    <result column="modelName" jdbcType="VARCHAR" property="modelname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commentid, content, factor, reportId, modelName
  </sql>
  <select id="selectByExample" parameterType="com.dtdream.pojo.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where commentid = #{commentid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from comment
    where commentid = #{commentid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtdream.pojo.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtdream.pojo.Comment">
    insert into comment (commentid, content, factor, 
      reportId, modelName)
    values (#{commentid,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{factor,jdbcType=VARCHAR}, 
      #{reportid,jdbcType=VARCHAR}, #{modelname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dtdream.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        commentid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="factor != null">
        factor,
      </if>
      <if test="reportid != null">
        reportId,
      </if>
      <if test="modelname != null">
        modelName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="factor != null">
        #{factor,jdbcType=VARCHAR},
      </if>
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="modelname != null">
        #{modelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtdream.pojo.CommentExample" resultType="java.lang.Long">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.commentid != null">
        commentid = #{record.commentid,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.factor != null">
        factor = #{record.factor,jdbcType=VARCHAR},
      </if>
      <if test="record.reportid != null">
        reportId = #{record.reportid,jdbcType=VARCHAR},
      </if>
      <if test="record.modelname != null">
        modelName = #{record.modelname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set commentid = #{record.commentid,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      factor = #{record.factor,jdbcType=VARCHAR},
      reportId = #{record.reportid,jdbcType=VARCHAR},
      modelName = #{record.modelname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtdream.pojo.Comment">
    update comment
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="factor != null">
        factor = #{factor,jdbcType=VARCHAR},
      </if>
      <if test="reportid != null">
        reportId = #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="modelname != null">
        modelName = #{modelname,jdbcType=VARCHAR},
      </if>
    </set>
    where commentid = #{commentid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtdream.pojo.Comment">
    update comment
    set content = #{content,jdbcType=VARCHAR},
      factor = #{factor,jdbcType=VARCHAR},
      reportId = #{reportid,jdbcType=VARCHAR},
      modelName = #{modelname,jdbcType=VARCHAR}
    where commentid = #{commentid,jdbcType=VARCHAR}
  </update>
</mapper>