<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtdream.model.dao.ModelMapper">
  <resultMap id="BaseResultMap" type="com.dtdream.pojo.Model">
    <id column="modelId" jdbcType="INTEGER" property="modelid" />
    <result column="modelName" jdbcType="VARCHAR" property="modelname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    modelId, modelName
  </sql>
  <select id="selectByExample" parameterType="com.dtdream.pojo.ModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from model
    where modelId = #{modelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from model
    where modelId = #{modelid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtdream.pojo.ModelExample">
    delete from model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtdream.pojo.Model">
    insert into model (modelId, modelName)
    values (#{modelid,jdbcType=INTEGER}, #{modelname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dtdream.pojo.Model">
    insert into model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelid != null">
        modelId,
      </if>
      <if test="modelname != null">
        modelName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelid != null">
        #{modelid,jdbcType=INTEGER},
      </if>
      <if test="modelname != null">
        #{modelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtdream.pojo.ModelExample" resultType="java.lang.Long">
    select count(*) from model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update model
    <set>
      <if test="record.modelid != null">
        modelId = #{record.modelid,jdbcType=INTEGER},
      </if>
      <if test="record.modelname != null">
        modelName = #{record.modelname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update model
    set modelId = #{record.modelid,jdbcType=INTEGER},
      modelName = #{record.modelname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtdream.pojo.Model">
    update model
    <set>
      <if test="modelname != null">
        modelName = #{modelname,jdbcType=VARCHAR},
      </if>
    </set>
    where modelId = #{modelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtdream.pojo.Model">
    update model
    set modelName = #{modelname,jdbcType=VARCHAR}
    where modelId = #{modelid,jdbcType=INTEGER}
  </update>
</mapper>